
.background {
    -fx-background-image: url("../resources/ss.jpg");
    -fx-background-color: transparent;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.logo {
    -fx-image: url("../resources/loginlogo.png");
}

.box-login {
    -fx-background-color: rgba(63, 127, 191, 0.3);
    -fx-border-color: transparent;
    -fx-animation-glow: 10s ease infinite forwards;
}

.username,
.password {
    -fx-background-color: transparent;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0 0 1 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 0 5 0 30;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-highlight-fill: #dee3c0;
    -fx-highlight-text-fill: #333;
}

.username:focused,
.password:focused {
    -fx-prompt-text-fill: transparent;
}

.username {
    -fx-background-image: url("../resources/icons/user.png");
}

.password {
    -fx-background-image: url("../resources/icons/key.png");
}


.loginbtn {
    -fx-text-fill: #fff;
    -fx-background-color: #0065ff;
    -fx-border-color: #0089a5;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-content-display: right;
    -fx-cursor: hand;
}

.loginbtn:hover,
.loginbtn:selected {
    -fx-background-color: #00d4ff;
}

.exitbtn {
    -fx-text-fill: #fff;
    -fx-background-color: #f44b42;
    -fx-border-color: #db0b00;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-content-display: right;
    -fx-cursor: hand;
}

.exitbtn:hover,
.exitbtn:selected {
    -fx-background-color: #e81919;
}